<!--div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>



   <mat-form-field>
    <mat-label>Enter your name</mat-label>
    <input
      matInput
      placeholder="name"
      [formControl]="name"
      (blur)="updateErrorMessage()"
      required
    />
    @if (name.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

    <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="password"
      [formControl]="password"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

     <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="confirmPassword"
      [formControl]="confirmPassword"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
</div-->



<ul>
  <li><a href="#home" class="active">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class=" link" routerLink="/register">Singup</a></li>
  <li style="float:right"><a class=" link" routerLink="/login">Login</a></li>
</ul>



<div class="container mt-3 m-auto border max-width rounded">
  <div>  
    <h2>Signup({{userStore.users().length}})</h2>
  </div>
  
<form class="example-form" (ngSubmit)="save()">
  <div class="example-container">
  <mat-form-field>
    <mat-label>name</mat-label>
    <input
      matInput
      placeholder="name"
      [formControl]="name"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>



   <mat-form-field>
    <mat-label>email</mat-label>
    <input
      matInput
      placeholder="email"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

    <mat-form-field>
    <mat-label>password</mat-label>
    <input
      matInput
      placeholder="password"
      [formControl]="password"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

     <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="confirmPassword"
      [formControl]="confirmPassword"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
</div>
<div><button mat-raised-button color="primary">Register</button></div>
<!--div>
     <a href="#">Forgot username</a><span> or </span><a href="#">Forgot Password</a>
</div-->

</form>
</div>



<div class="container">
  <h2 class="text-center mt-4">
    Registered Users
  </h2>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Emame</th>
        <th>Namil</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userStore.users()">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
      </tr>
    </tbody>
  </table>

</div>






























<router-outlet></router-outlet>
