<!--div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>



   <mat-form-field>
    <mat-label>Enter your name</mat-label>
    <input
      matInput
      placeholder="name"
      [formControl]="name"
      (blur)="updateErrorMessage()"
      required
    />
    @if (name.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

    <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="password"
      [formControl]="password"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

     <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="confirmPassword"
      [formControl]="confirmPassword"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
</div-->


<div class="body">
<ul>
  <li><a href="#home" class="active">Home</a></li>
  <!--li><a href="#news">News</a></li-->
  <!--li><a href="#contact">Contact</a></li-->
  <li style="float:right"><a class=" link" routerLink="/register">Signup</a></li>
  <li style="float:right"><a class=" link" routerLink="/login">Login</a></li>
  <!--li style="float:right"><a class=" link" (click)="authService.logout()">Logout</a></li-->
</ul>
</div>

<div class="container mt-3 m-auto border max-width rounded">
    <div> 
      <p><span class="in-progress">In proress</span></p>
      <h2>Login</h2>
    </div>
  <form class="example-form" (ngSubmit)=" loginUser()">
    <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="email"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>


      <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="new password"
      [formControl]="password"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

  </div>
<div><button mat-raised-button  color="primary"  (click)="loginUser()">Login</button></div>
  <div>
      <a routerLink="/changepassword">Forgot username</a><span> or </span><a routerLink="/changepassword">Forgot Password</a>
  </div>

  </form>
</div>

<router-outlet></router-outlet>
